<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="protoeditor" version="1">

  <MenuBar>
    
    <Menu name="file" noMerge="1">
      <text>&amp;File</text>
      <Action name="file_open"/>
      <Action name="file_open_recent"/>
      <Separator/>
      <DefineGroup name="save_merge"/>
      <Separator/>
      <DefineGroup name="revert_merge"/>
      <Separator/>
      <DefineGroup name="print_merge"/>     

      <Action name="file_close"/>
      <Action name="file_close_all"/>
      <Separator/>      
      <Action name="file_quit"/>            
    </Menu>
    
    <Merge name="edit" />
    <Merge name="view" />
   
    <Menu name="menu_script"><text>&amp;Script</text>
     <text>Script Menu</text>
     <Action name="script_run"/>
     <Separator />
     <Action name="debug_stop"/>
     <Action name="debug_start"/>
     <Action name="debug_step_over"/>
     <Action name="debug_step_into"/>
     <Action name="debug_step_out"/>
     <Separator />
     <Action name="debug_toggle_bp"/>
    </Menu>

    
    <Merge name="tools" />
    
    <Menu name="settings" noMerge="1"><text>&amp;Settings</text>
      <Action name="options_configure_keybinding" />
      <Action name="options_configure_toolbars" />
      <Separator/>
      <Merge/>
      <Action name="settings_protoeditor" />
   </Menu>

  </MenuBar>

  <Menu name="ktexteditor_popup" noMerge="1">
    <DefineGroup name="popup_operations" />
  </Menu>

  <ToolBar name="mainToolBar" noMerge="1">
    <text>Main Toolbar</text>
    <Action name="file_open" />
    <Separator />
    <Merge/>
  </ToolBar>

  <ToolBar name="debug_toolbar" noMerge="1" newline="true">
    <Action name="site"/>
    <Separator />
    <Action name="script_run"/>
    <Separator />
    <Action name="debug_stop"/>
    <Action name="debug_start"/>
    <Action name="debug_step_over"/>
    <Action name="debug_step_into"/>
    <Action name="debug_step_out"/>
  </ToolBar>

  <!--         States        -->
  
  <State name="debug_disabled">
    <disable>
      <Action name="script_run"/>
      <Action name="debug_start"/>
      <Action name="debug_stop"/>
      <Action name="debug_step_over"/>
      <Action name="debug_step_into"/>
      <Action name="debug_step_out"/>
    </disable>
  </State>

  <State name="debug_stopped">
    <enable>
      <Action name="debug_start"/>
      <Action name="debug_toggle_bp"/>
    </enable>
    <disable>
      <Action name="debug_stop"/>
      <Action name="debug_step_over"/>
      <Action name="debug_step_into"/>
      <Action name="debug_step_out"/>
    </disable>
  </State>

  <State name="debug_started">
    <enable>
      <Action name="debug_stop"/>
      <Action name="debug_toggle_bp"/>
      <Action name="debug_step_over"/>
      <Action name="debug_step_into"/>
      <Action name="debug_step_out"/>
    </enable>
  </State>
  
<!--
  <State name="has_nofileopened">
    <disable>
      <Action name="script_run"/>
      <Action name="debug_start"/>
      <Action name="file_close"/>
      <Action name="file_save"/>
      <Action name="file_save_as"/>

      <Action name="edit_undo"/>
      <Action name="edit_redo"/>
      <Action name="edit_cut"/>
      <Action name="edit_copy"/>
      <Action name="edit_paste"/>
      <Action name="edit_select_all"/>

      <Action name="settings_editor"/>
      <Action name="debug_toggle_bp"/>
    </disable>
  </State>

  <State name="has_fileopened">
    <enable>
      <Action name="script_run"/>
      <Action name="debug_start"/>
      <Action name="file_close"/>
      <Action name="file_save"/>
      <Action name="file_save_as"/>

      <Action name="edit_cut"/>
      <Action name="edit_copy"/>
      <Action name="edit_paste"/>
      <Action name="edit_select_all"/>

      <Action name="settings_editor"/>
      <Action name="debug_toggle_bp"/>
    </enable>
  </State> -->
</kpartgui>